# Homework 7

In this homework, imagine that you've already become a data scientist hired by the bank. Your job is to help the bank to decide whether approve the loan applications from customers. Certain customers may have higher risk to result in the loan default, and your job is to distinguish them and suggest your manager not to approve their application from the very beginning.

The data you have is the record of many previous loan cases (including the information of applicants) and their final outcome (default or non-defualt in the loan). Specifically, there's one column called `loan_status`, **where the value 0 is non-default and 1 denotes default.** You may find more information about this dataset [here](https://www.kaggle.com/laotse/credit-risk-dataset).

## Task 1: Load the data and Pre-processing

1. Use `pandas` to read the csv file named `credit_risk_dataset.csv` as dataframe (The file is in the Canvas page of this homework).


2. Drop three columns, named `person_home_ownership`,`loan_intent`,`loan_grade`.


3. Drop all the samples with missing values. hint: you can use the `dropna` method, see documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).


4. For the column named `cb_person_default_on_file`, replace "Y" with integer 1, and "N" with 0. Hint: there are many ways to do this, and you can refer to one possible tutorial [here](https://www.geeksforgeeks.org/replace-the-column-contains-the-values-yes-and-no-with-true-and-false-in-python-pandas/)


5. Name your final pre-processed dataframe as `df_credit`

In [1]:
import pandas as pd
#1. read csv file as dataframe
credit_risk = pd.read_csv('credit_risk_dataset.csv')
#2. drop three columns
credit_risk.drop(columns = ['person_home_ownership', 'loan_intent', 'loan_grade'], inplace = True)
#3. drop all samples with missing values
credit_risk.dropna(axis=0, how='any', inplace=True)
#4. replace "Y" w/1 and "N" w/0 in column 'cb_person_default_on_file'
credit_risk['cb_person_default_on_file'] = credit_risk['cb_person_default_on_file'].map({'Y':1 ,'N':0}) 
#5. final pre-processed dataframe
df_credit = credit_risk
df_credit

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,123.0,35000,16.02,1,0.59,1,3
1,21,9600,5.0,1000,11.14,0,0.10,0,2
2,25,9600,1.0,5500,12.87,1,0.57,0,3
3,23,65500,4.0,35000,15.23,1,0.53,0,2
4,24,54400,8.0,35000,14.27,1,0.55,1,4
5,21,9900,2.0,2500,7.14,1,0.25,0,2
6,26,77100,8.0,35000,12.42,1,0.45,0,3
7,24,78956,5.0,35000,11.11,1,0.44,0,4
8,24,83000,8.0,35000,8.90,1,0.42,0,2
9,21,10000,6.0,1600,14.74,1,0.16,0,3
10,22,85000,6.0,35000,10.37,1,0.41,0,4
11,21,10000,2.0,4500,8.63,1,0.45,0,2
12,23,95000,2.0,35000,7.90,1,0.37,0,2
13,26,108160,4.0,35000,18.39,1,0.32,0,4
14,23,115000,2.0,35000,7.90,0,0.30,0,4
15,23,500000,7.0,30000,10.65,0,0.06,0,3
16,23,120000,0.0,35000,7.90,0,0.29,0,4
17,23,92111,7.0,35000,20.25,1,0.32,0,4
18,23,113000,8.0,35000,18.25,1,0.31,0,4
19,24,10800,8.0,1750,10.99,1,0.16,0,2
20,25,162500,2.0,35000,7.49,0,0.22,0,4
21,25,137000,9.0,34800,16.77,0,0.25,1,2
22,22,65000,4.0,34000,17.58,1,0.52,0,4
23,24,10980,0.0,1500,7.29,0,0.14,0,3
24,22,80000,3.0,33950,14.54,1,0.42,1,4
25,24,67746,8.0,33000,12.68,1,0.49,0,3
26,21,11000,3.0,4575,17.74,1,0.42,1,3
27,23,11000,0.0,1400,9.32,0,0.13,0,3
28,24,65000,6.0,32500,9.99,1,0.50,0,3
29,21,11389,5.0,4000,12.84,1,0.35,1,2
...,...,...,...,...,...,...,...,...,...
32545,60,9600,4.0,2800,10.99,1,0.29,0,28
32548,54,29000,7.0,2500,11.71,0,0.09,0,28
32549,53,46000,9.0,4925,11.71,0,0.11,0,23
32550,56,71884,11.0,7425,9.99,0,0.10,0,24
32551,58,780000,7.0,4500,6.91,0,0.01,0,19
32554,60,98000,1.0,15000,16.29,1,0.15,0,29
32555,51,80000,3.0,18000,18.78,0,0.23,1,20
32556,55,50000,2.0,20000,7.51,1,0.40,0,28
32557,69,24000,3.0,6000,6.62,0,0.25,0,23
32558,56,70000,7.0,15000,10.38,0,0.21,0,24
32559,51,58000,2.0,1500,19.03,1,0.03,0,24
32560,57,77385,4.0,6625,7.66,0,0.09,0,27
32561,54,129000,6.0,9000,11.49,1,0.07,0,24
32562,61,160000,30.0,24000,10.38,0,0.15,0,21
32563,52,71520,0.0,7000,16.82,1,0.10,1,24
32564,53,45000,0.0,5600,13.79,0,0.12,0,28
32565,57,40000,1.0,15000,8.90,1,0.38,0,21
32566,52,30000,6.0,5000,12.73,0,0.17,0,18
32567,53,85000,2.0,8000,7.74,0,0.09,0,26
32568,60,49008,5.0,12000,13.79,0,0.24,1,21
32571,60,45600,1.0,20000,10.00,1,0.44,0,26
32572,52,52000,0.0,9600,8.49,0,0.18,0,22
32573,56,90000,0.0,7200,6.17,0,0.08,0,19
32574,52,65004,4.0,20000,15.58,1,0.31,1,19
32575,52,64500,0.0,5000,11.26,0,0.08,0,20
32576,57,53000,1.0,5800,13.16,0,0.11,0,30
32577,54,120000,4.0,17625,7.49,0,0.15,0,19
32578,65,76000,3.0,35000,10.99,1,0.46,0,28
32579,56,150000,5.0,15000,11.48,0,0.10,0,26
32580,66,42000,2.0,6475,9.99,0,0.15,0,30

Check your answers with the following codes. Your results should be the same as printed below. (You may notice that there are some unrealisitc values, but don't worry about them in the basic tasks. Resolve this issue in optional task if you like to).

In [2]:
df_credit

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,123.0,35000,16.02,1,0.59,1,3
1,21,9600,5.0,1000,11.14,0,0.10,0,2
2,25,9600,1.0,5500,12.87,1,0.57,0,3
3,23,65500,4.0,35000,15.23,1,0.53,0,2
4,24,54400,8.0,35000,14.27,1,0.55,1,4
5,21,9900,2.0,2500,7.14,1,0.25,0,2
6,26,77100,8.0,35000,12.42,1,0.45,0,3
7,24,78956,5.0,35000,11.11,1,0.44,0,4
8,24,83000,8.0,35000,8.90,1,0.42,0,2
9,21,10000,6.0,1600,14.74,1,0.16,0,3
10,22,85000,6.0,35000,10.37,1,0.41,0,4
11,21,10000,2.0,4500,8.63,1,0.45,0,2
12,23,95000,2.0,35000,7.90,1,0.37,0,2
13,26,108160,4.0,35000,18.39,1,0.32,0,4
14,23,115000,2.0,35000,7.90,0,0.30,0,4
15,23,500000,7.0,30000,10.65,0,0.06,0,3
16,23,120000,0.0,35000,7.90,0,0.29,0,4
17,23,92111,7.0,35000,20.25,1,0.32,0,4
18,23,113000,8.0,35000,18.25,1,0.31,0,4
19,24,10800,8.0,1750,10.99,1,0.16,0,2
20,25,162500,2.0,35000,7.49,0,0.22,0,4
21,25,137000,9.0,34800,16.77,0,0.25,1,2
22,22,65000,4.0,34000,17.58,1,0.52,0,4
23,24,10980,0.0,1500,7.29,0,0.14,0,3
24,22,80000,3.0,33950,14.54,1,0.42,1,4
25,24,67746,8.0,33000,12.68,1,0.49,0,3
26,21,11000,3.0,4575,17.74,1,0.42,1,3
27,23,11000,0.0,1400,9.32,0,0.13,0,3
28,24,65000,6.0,32500,9.99,1,0.50,0,3
29,21,11389,5.0,4000,12.84,1,0.35,1,2
...,...,...,...,...,...,...,...,...,...
32545,60,9600,4.0,2800,10.99,1,0.29,0,28
32548,54,29000,7.0,2500,11.71,0,0.09,0,28
32549,53,46000,9.0,4925,11.71,0,0.11,0,23
32550,56,71884,11.0,7425,9.99,0,0.10,0,24
32551,58,780000,7.0,4500,6.91,0,0.01,0,19
32554,60,98000,1.0,15000,16.29,1,0.15,0,29
32555,51,80000,3.0,18000,18.78,0,0.23,1,20
32556,55,50000,2.0,20000,7.51,1,0.40,0,28
32557,69,24000,3.0,6000,6.62,0,0.25,0,23
32558,56,70000,7.0,15000,10.38,0,0.21,0,24
32559,51,58000,2.0,1500,19.03,1,0.03,0,24
32560,57,77385,4.0,6625,7.66,0,0.09,0,27
32561,54,129000,6.0,9000,11.49,1,0.07,0,24
32562,61,160000,30.0,24000,10.38,0,0.15,0,21
32563,52,71520,0.0,7000,16.82,1,0.10,1,24
32564,53,45000,0.0,5600,13.79,0,0.12,0,28
32565,57,40000,1.0,15000,8.90,1,0.38,0,21
32566,52,30000,6.0,5000,12.73,0,0.17,0,18
32567,53,85000,2.0,8000,7.74,0,0.09,0,26
32568,60,49008,5.0,12000,13.79,0,0.24,1,21
32571,60,45600,1.0,20000,10.00,1,0.44,0,26
32572,52,52000,0.0,9600,8.49,0,0.18,0,22
32573,56,90000,0.0,7200,6.17,0,0.08,0,19
32574,52,65004,4.0,20000,15.58,1,0.31,1,19
32575,52,64500,0.0,5000,11.26,0,0.08,0,20
32576,57,53000,1.0,5800,13.16,0,0.11,0,30
32577,54,120000,4.0,17625,7.49,0,0.15,0,19
32578,65,76000,3.0,35000,10.99,1,0.46,0,28
32579,56,150000,5.0,15000,11.48,0,0.10,0,26
32580,66,42000,2.0,6475,9.99,0,0.15,0,30

In [3]:
df_credit.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
count,28638.000000,2.863800e+04,28638.000000,28638.000000,28638.000000,28638.000000,28638.000000,28638.000000,28638.000000
mean,27.727216,6.664937e+04,4.788672,9656.493121,11.039867,0.216600,0.169488,0.178190,5.793736
std,6.310441,6.235645e+04,4.154627,6329.683361,3.229372,0.411935,0.106393,0.382679,4.038483
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,0.000000,2.000000
25%,23.000000,3.948000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,0.000000,3.000000
50%,26.000000,5.595600e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,0.000000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.480000,0.000000,0.230000,0.000000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,1.000000,30.000000

In [4]:
df_credit.isnull().sum() # check the nan numbers

person_age                    0
person_income                 0
person_emp_length             0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

## Task 2 :  Loan Status Prediction with Logistic Regression

1. Pick up column named `loan_status`, convert it to the numpy array  `y`. Convert the dataset containing the remaining columns as numpy array `X`.


2. Create `X_train`, `X_test`, `y_train`, `y_test` by splitting the dataset. The test dataset should consist of 33% percent of the whole data. Hint: you can use the [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function in sklearn.


3. Train a logistic regression model **with sklearn** (you can directly call the functions/methods in sklearn) on training dataset. Report the performance on test dataset

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
#1. convert column 'loan_status' to numpy array y, convert remaining columns as numpy array X
y = df_credit.loc[:,'loan_status'].to_numpy()
X = df_credit.drop(columns = 'loan_status').to_numpy()
#2. create test and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
#3. train a logistic regression model w/sklearn
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

C:\Users\adamg\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8111310972383875

## Task 3: Prediction for a New Customer

1. Your bank now receive a new loan application. Load the information about this new customer in the csv file `new_customer_info.csv` (The file is in the Canvas page of this homework).


2. Based on your model, what is the predicted loan status (default or non-default) of this new customer? **Optional**: before making the prediction, you may choose to update your model by re-train the parameter with all the data in `X` and `y` (this step is called "finalize" in PyCaret), to avoid wasting the test dataset in Task 2.


3. Because of the pandemic, your bank becomes more conservative about approving new loans. The manager requires that the loan can only be approved if the risk (probability) of default is below 15%. Based on your model, what is your suggested decision for this loan application? Write the code and one short paragraph (in Markdown) telling your manager 1)the decision you suggest 2) the reasons why and 3) description of all the hard works you have done to make this suggestion, i.e. how you built this model. Note that your manager has not learned machine learning previously, so please try to explain in plain language.

**Hint:** you may find the `predict_proba` method in the logistic regression classifier helpful to solve the third problem.

In [6]:
from sklearn.linear_model import LogisticRegression
help(LogisticRegression.predict_proba)

Help on function predict_proba in module sklearn.linear_model.logistic:

predict_proba(self, X)
    Probability estimates.

    The returned estimates for all classes are ordered by the
    label of classes.

    For a multi_class problem, if multi_class is set to be "multinomial"
    the softmax function is used to find the predicted probability of
    each class.
    Else use a one-vs-rest approach, i.e calculate the probability
    of each class assuming it to be positive using the logistic function.
    and normalize these values across all the classes.

    Parameters
    ----------
    X : array-like, shape = [n_samples, n_features]

    Returns
    -------
    T : array-like, shape = [n_samples, n_classes]
        Returns the probability of the sample for each class in the model,
        where classes are ordered as they are in ``self.classes_``.

In [7]:
#1. load info
new_customer_info = pd.read_csv('new_customer_info.csv')
new_customer_info

,Unnamed: 0,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,0,28,50000,RENT,4.0,PERSONAL,D,6000,8.2,0.1,Y,4

In [8]:
new_customer_info.drop(columns=['Unnamed: 0','person_home_ownership', 'loan_intent', 'loan_grade'], inplace = True)
new_customer_info['cb_person_default_on_file'] = new_customer_info['cb_person_default_on_file'].map({'Y':1 ,'N':0}) 
new_customer_info

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,28,50000,4.0,6000,8.2,0.1,1,4

In [9]:
#2. predict loan status of this new customer
X = new_customer_info.to_numpy()
y_pred_raw = model.predict_proba(X)[:,1] 
print(y_pred_raw)

[0.2025354]

Given that the bank must be more conservative with approving new loans, the customer's application should be rejected. The probability of default with the customer is 20%, making it risky for the bank to approve them as they are above the threshold of 15%. I have reached this conclusion by analyzing past data from previous customers. Based on the characteristics of thousands of previous customers and whether they have defaulted on their loan or not, I have trained a model to predict if a new customer will also default on their loan. Therefore, I am confident that the model has accurately analyzed the new customer's information to predict that they are too risky to receive a loan.

## Task 4: Your final project

This is not a task in homework, but a reminder that you can already finish Task 1 and 2 in final project. Start it right NOW and don't wait until the last minute.

## Optional Task

1. It's a pitty that we drop many categorical columns in the original data. You can follow [this notebook](https://www.kaggle.com/zhaoyunma/credit-risk-prediction) to pre-process all the variables. Will this help improve your model?
2. Try the [classification module](https://github.com/pycaret/pycaret/blob/master/tutorials/Binary%20Classification%20Tutorial%20Level%20Beginner%20-%20%20CLF101.ipynb) in PyCaret for this dataset.

In [10]:
# write your code here